* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header-parcont {
  background-color: #8b7355;
  color: #ffffff;
  height: 90px;
  text-align: center;
  align-content: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.app-parcont {
  display: flex;
  flex-direction: row;
  min-width: 100%;
  justify-content: space-evenly;
  overflow: hidden;
  gap: 10px;
  padding: 10px;
}

.app-parcont,
.app-left-parcont,
.app-right-parcont {
  height: 100vh;
  border-radius: 5px;
  width: 100%;
}

.app-parcont .app-left-parcont {
  background-color: #87ceeb;
}
.app-parcont .app-right-parcont {
  background-color: #9dc183;
}
